<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-back-button defaultHref="{{ path }}"></ion-back-button>
        </ion-buttons>
    <ion-title>video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-buffering></vg-buffering>
        <vg-controls [vgAutohide]="true" [vgAutohideTime]="3">
            <vg-play-pause></vg-play-pause>
            <vg-time-display [vgProperty]="'current'" [vgFormat]="'mm:ss'"></vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time ></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>
            
            <vg-time-display [vgProperty]="'total'" [vgFormat]="'mm:ss'"></vg-time-display>
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
      <video
      [vgMedia]="media" 
      src="http://static.videogular.com/assets/videos/videogular.mp4"
      #media 
      id="singleVideo" 
      preload="auto" 
      crossorigin
      playsinline webkit-playsinline>
    </video>
  </vg-player>
</ion-content>
